<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlishTUK_vBSzWQR6dpLmMn1nL7cV2VZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>978663383814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cabme.ios</string>
	<key>PROJECT_ID</key>
	<string>cabme-demo-b9c29</string>
	<key>STORAGE_BUCKET</key>
	<string>cabme-demo-b9c29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978663383814:ios:45f0ab648ff3b769fdf487</string>
</dict>
</plist>